body{
    background-color: rgb(15, 152, 220);
}


button{
      background-color: rgb(255, 255, 255);
      border-radius: 18px;
      height:70px ;
      width: 70px;
      font-size: 18px;
      margin: 10px;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}
